* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-color: #0f0f0f;
  --bg-color: #0d0d0d;
  --text-color: #f1f1f1;
  --font-family: roboto-family;
  --primary-color: #222222;
}

@font-face {
  font-family: roboto-family;
  src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}
.navbar {
  /* border: 1px solid white; */
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: var(--navbar-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.firstSec {
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
}
.firstSec i {
  color: white;
  font-size: 18px;
}

.navHeading {
  /* border: 1px solid white; */
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navHeading img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 61px;
  object-fit: contain;
}

.navHeading h3 {
  /* border: 1px solid white; */
  color: white;
  display: flex;
  font-size: 24px;
  font-family: var(--font-family);
  text-transform: capitalize;
}
.navHeading sup {
  font-weight: 200;
  font-size: 12px;
}

.searchBar {
  border: 1px solid var(--primary-color);
  width: 650px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: var(--primary-color);
  cursor: pointer;
}
.searchBar input {
  border: none;
  outline: none;
  border: 0.5px solid var(--primary-color);
  padding: 12px 15px;
  width: 90%;
  border-radius: 50px 0px 0px 50px;
  background-color: var(--navbar-color);
  font-size: 16px;
  color: var(--text-color);
}
.searchBar i {
  width: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.thirdSect {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--text-color);
  cursor: pointer;
}
.create {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--primary-color);
  font-family: var(--font-family);
}
.create:hover {
  background-color: #3e3e3e;
}
.create p {
  font-size: 16px;
  text-transform: capitalize;
}
.bell i {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bell i:hover {
  background-color: #3e3e3e;
}

/* Video Section */
.videoSection {
  color: white;
  /* border: 1px solid white; */
  display: flex;
  gap: 5px;
  width: 100%;
  height: 100vh;
  margin-top: 4%;
  padding: 10px 12px;
  font-family: var(--font-family);
}
.mainVideo {
  width: 72%;
  padding: 0px 5px;
  /* width: 100%; */
}
.mainVideo iframe {
  border: 1px solid black;
  border-radius: 12px;
  width: 100%;
  height: 79.5%;
}
.videoTitle {
  /* border: 1px solid white; */
  padding-top: 10px;
}
.videoTitle h2 {
  font-size: 20px;
}
.videoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.videoSubTitle {
  padding: 10px 45px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.videoSubTitle p {
  cursor: pointer;
}
.videoSubTitle button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.videoSubTitle button:hover {
  background-color: #bfbfbf;
}
.videoFeatures {
  display: flex;
  gap: 22px;
}
.videoFeatures span {
  border-radius: 50px;
  background-color: var(--primary-color);
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.videoFeatures span:hover {
  background-color: #3e3e3e;
}
.videoFeatures span i {
  color: var(--text-color);
}
.listVideo {
  /* border: 1px solid white; */
  width: 28%;
  padding: 10px 5px;
}

.videoCard {
  /* border: 1px solid white; */
  display: flex;
  gap: 10px;
  width: 100%;
  height: 15vh;
}
.video iframe {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.videoHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.videoHeading .title {
  font-size: 15px;
  /* border: 1px solid white; */
}
.videoHeading p {
  font-size: 12px;
}
.videoHeading span {
  font-size: 13px;
}
